body {
  --bg-color: #{$theme-light-bg};
  --bg-color-rgb: #{rgbify($theme-light-bg)};
  --bg-color-light: #{lighten($theme-light-bg, 2%)};
  --bg-color-lighter: #{desaturate(lighten($theme-light-bg, 7%), 0%)};
  --bg-color-lightest: #{desaturate(lighten($theme-light-bg, 12%), 0%)};
  --bg-color-lightest-rgb: #{rgbify(desaturate(lighten($theme-light-bg, 12%), 0%))};

  --theme-color: #{$theme};
  --theme-color-rgb: #{rgbify($theme)}; // for using var + transparency (rgba)
  --theme-color-dark: #{desaturate(darken($theme, 5%), 10%)};
  --theme-color-darker: #{desaturate(darken($theme, 10%), 10%)};
  --theme-color-darkest: #{desaturate(darken($theme, 15%), 10%)};

  @include darkMode {
    --bg-color: #{$theme-bg};
    --bg-color-rgb: #{rgbify($theme-bg)};
    --bg-color-light: #{lighten($theme-bg, 2%)};
    --bg-color-lighter: #{desaturate(lighten($theme-bg, 7%), 0%)};
    --bg-color-lightest: #{desaturate(lighten($theme-bg, 12%), 0%)};
    --bg-color-lightest-rgb: #{rgbify(desaturate(lighten($theme-bg, 12%), 0%))};

    --theme-color: #{$theme-light};
    --theme-color-rgb: #{rgbify($theme-light)}; // for using var + transparency (rgba)
    --theme-color-dark: #{desaturate(darken($theme-light, 5%), 10%)};
    --theme-color-darker: #{desaturate(darken($theme-light, 10%), 10%)};
    --theme-color-darkest: #{desaturate(darken($theme-light, 15%), 10%)};
  }
}
