@import-normalize;
@import './reset.scss';
@import 'varsandmixins';
@import './color-scheme.scss';

body {
  font-family: 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
