@import-normalize;
@import './reset.scss';
@import 'varsandmixins';

body {
  font-family: 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
  font-family: Segoe UI;
  font-size: 20px;
  line-height: 27px;

  // dark theme
  background-color: var(--color-bg);
  color: var(--color-text);
}

.theme-select {
  .react-switch-bg {
    border: 1px solid var(--color-primary);

    div {
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        &.dark {
          padding-left: 8px;
        }
        &.light {
          padding-right: 8px;
        }
      }
    }
  }

  .react-switch-handle div {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1px !important;
  }
}
