@import-normalize;
@import './reset.scss';
@import 'varsandmixins';

body {
  font-family: 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
  font-family: Segoe UI;
  font-size: 20px;
  line-height: 27px;

  // dark theme
  background-color: #2a2932;
  color: #ffffff;
}
