.card {
  display: flex;
  align-items: center;
  margin-right: 45px;
  border-radius: 20px;
  width: 544px;
  padding: 34px 27px;
  opacity: 0.2;
  cursor: not-allowed;
  background-color: var(--category-card-bg);

  .image {
    width: 142px;
    height: 142px;
    border-radius: 100px;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.active {
    background-color: var(--color-primary);
    background-image: url(../../../images/cate-card-bg.svg);
    opacity: 1;
    cursor: pointer;

    .image {
      background-color: var(--color-text);
    }
  }

  .texts {
    margin-left: 36px;
    text-align: left;

    .name {
      font-weight: bold;
      font-size: 50px;
      line-height: 67px;
    }
    .description {
      font-size: 30px;
      line-height: 40px;
    }
  }
}
